// Global text styling
p, 
span, 
div, 
li, 
a, 
label, 
input, 
textarea, 
button {
  font-family: 'STK Bureau Sans', sans-serif;
}

// YouTube player container
.bortelaget-player {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  background: #000; /* Add background color to see container */
}

// YouTube player container
  .ytp-chrome-top,           /* Hides the top bar with title */
  .ytp-chrome-bottom,        /* Hides the bottom control bar */
  .ytp-watermark,           /* Hides YouTube logo */
  .ytp-share-button,        /* Hides share button */
  .ytp-watch-later-button   /* Hides watch later button */
  {
      display: none !important;
  }